.App {
  text-align: center;
  
}

 body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #041636, #cfdef3);
  font-family: sans-serif;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  background: linear-gradient(to bottom right, #430a52, #ebedee);
  color:#ebedee;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
  color: white;
  text-shadow:
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
}

body, p, label, select, h2 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.color-selector {
  display: flex;
 
  align-items: center;
  margin-top: 2em;
}


.band-selector {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 1em 0;
}

.band-selector label {
  font-weight: 600;
  font-size: 1.1rem;
}